.items-container {
  list-style: none;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 0.75rem;
  gap: 1rem;
}

.item > span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.item span a {
  color: inherit;
}
