.container {
  max-width: 1024px;
  margin: 0 auto;
}

.headline {
  font-size: 1.5rem;
  font-weight: 600;
}

.navbar {
  background-color: #fff;
  box-shadow: 1px 2px 3px var(--gray-light);
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.main-content {
  color: #222;
}

.loading-text {
  text-align: center;
  font-weight: 500;
  padding: 0.5rem 0;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
