@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --primary-clr: #f56565;
  --secondary-clr: #f7fafc;
  --text-clr: #1a202c;
  --gray-light: #e1e1e1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  color: var(--text-clr);
  background-color: var(--secondary-clr);
}

input {
  padding: 0.6rem;
  border: 1px solid var(--gray-light);
  width: 12rem;
  border-radius: 6px;
}

button {
  font: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn {
  background-color: var(--primary-clr);
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: none;
  color: #fff;
  font-weight: 600;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}
